<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
        
         <div class="immg">
          <div class="mack">
           <form action="" id="form1" >
               <input type="text" id="address">
               <button>Find the Weather</button>
           </form>
           </div>

           <p id="location"></p>
           <p id="longtitude"></p>
           <p id="latitude"></p>
           <p id="forecast"></p>
           <p id="error"></p>

          </div>
          {{!-- <img src="Images/course-1.jpg" alt="" class="immg"> --}}
           <script src="js/script.js"></script>
          
      </body>
</html>